//get this from your firebase console (settings > generate private key)
export default {
	"type": "service_account",
	"project_id": "your project id",
	"private_key_id": "",
	"private_key": "",
	"client_id": "",
	"auth_uri": "",
	"token_uri": "",
	"auth_provider_x509_cert_url": "",
	"client_x509_cert_url": ""
}